<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">Upload CSV</h1>

    <!-- Thông báo thành công -->
    <div th:if="${successMessage}" class="bg-green-200 text-green-800 px-4 py-2 mb-4">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Thông báo lỗi -->
    <div th:if="${errorMessage}" class="bg-red-200 text-red-800 px-4 py-2 mb-4">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/upload-csv}" method="post" enctype="multipart/form-data" accept-charset="Shift_JIS">
        <div class="mb-4">
            <label for="csvFile" class="block mb-2">Choose CSV File</label>
            <input type="file" class="border border-gray-300 rounded px-4 py-2 w-full" id="csvFile" name="csvFile" accept=".csv" required>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Upload</button>
    </form>
</div>

</body>
</html>